@model MVC.ViewModels.Basket.BasketProduct

@if (Model.Quantity == 0)
{
    <div class="my-3 ">
        <a asp-area="" asp-controller="Catalog" asp-action="AddToBasket" asp-route-id="@Model.Product" type="submit" class="btn btn-primary w-100 ">add to basket</a>
    </div>
}
else
{
    <div class="my-3 ">
        <div class="qty rounded bg-primary w-100 d-flex justify-content-around">
            <a asp-area="" asp-controller="Catalog" asp-action="Decrement" asp-route-id="@Model.Product" type="button" class="btn text-white w-100">-</a>
            <a type="text" class="btn text-white w-25" readonly>@Model.Quantity</a>
            <a asp-area="" asp-controller="Catalog" asp-action="Increment" asp-route-id="@Model.Product" type="button" class="btn text-white w-100">+</a>
        </div>
    </div>
    <div class="my-3 ">
        <a asp-area="" asp-controller="Catalog" asp-action="Remove" asp-route-id="@Model.Product" type="button" class="btn btn-danger w-100">remove from basket</a>
    </div>
}